.cc-chart-element {
    &__heading {
        display: flex;
        align-items: center;
        line-height: 1.2;
        padding: 6px 2px;
        padding-bottom: 24px;
        .axis-label {
            vertical-align: top;
            flex: 1;
            font-size: 12px;
        }
        .cc-chart-title {
            font-weight: normal;
            vertical-align: top;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__doughnut {
        .canvas-wrapper {
            position: relative;
        }
        .cc-chart-element__heading {
            justify-content: flex-end;
        }
        .cc-chart-element__center {
            color: #444444;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
            .label.title {
                font-size: 15px;
                text-transform: uppercase;
            }
            .label {
                line-height: 1.4;
                font-size: 13px;
            }
            .value {
                font-size: 26px;
                font-weight: bold;
            }
        }
    }
}
